body {
    background-color:#F1F7E7;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
}

.leaflogo {
    transform: translate(10px, 10px);
}
#indexlien {
    font-family: 'Roboto Mono', monospace;
    margin-left: 40px;
    visibility: hidden;
}
a:hover + #indexlien{
    visibility: visible;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#connexion_carte {
    background-color: white;
    height: 500px;
    width: 30%;
    margin: 5%;
    border-radius: 20%;
    box-shadow: 50px 0 50px -50px #8a8a8b;
}
.topcarte{
    background-color: #BBDFC8;
    height: 20%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}
.bottomcarte{
    background-color: #BBDFC8;
    height: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
#bottomcard{
    background-color: #BBDFC8;
    margin-top: 72%;
    height: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
h1 {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 25px;
    padding:6%;
    letter-spacing: .2rem;
}
#form_connexion {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    line-height: 50px;
}
label {
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .1rem;
}
input{
    font-family: 'Roboto Mono', monospace;
    border: none;
    border-bottom: 1px solid rgb(214, 213, 213);
}
.boutoninscription {
    width: 60%;
    height: 10%;
    margin-left: 30px;
    background-color: white;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.boutoninscription:hover {
    background-color: #75CFB8; 
    border-radius: 5%;
    color: white;
}
#bottomtext {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

#side_connexion {
    background-image: url(Images/leafpatternoriginal.png);
    width: 30%;
    height: 500px;
    margin: 5%;
    border-radius: 20%;
    box-shadow: 50px 0 50px -50px #8a8a8b;
}