body {
    background-color:#F1F7E7;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction: row;
}

.leaflogo {
    transform: translate(10px, 10px);
}
#indexlien {
    font-family: 'Roboto Mono', monospace;
    margin-left: 40px;
    visibility: hidden;
}
a:hover + #indexlien{
    visibility: visible;
}


main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#form_inscription {
    width: 55%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 20px 0 20px -20px #8a8a8b;
}
#top_part {
    background-image: url('Images/nookpattern.jpeg');
    background-size: 100%;
    opacity: 0.70;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}
h1 {
    margin: 0;
    font-family: 'Space Mono', monospace;
    font-size: 35px;
    padding-left: 6%;
    letter-spacing: .2rem;
}
#column {
    display: flex;
    flex-direction: row;
}

label{
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: .1rem;
}
input{
    font-family: 'Roboto Mono', monospace;
    border: none;
    border-bottom: 1px solid rgb(214, 213, 213);
}
.error1 {
    position: relative;
    left: 70%;
    top:-10%;
}
.error2{
    position: relative;
    left:90%;
    top:-15%;
}
#billet_part1 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 10%;
    line-height: 30px;
}
#barcode{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 8%;
    margin-left: 50%;
}
#billet_part2 {
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 10%;
    line-height: 30px;
    margin-right: 5%;
}
hr {
    position: relative;
    right: 125%;
    top: 30%;
    width: 185%;
    border: 2px dotted rgb(100, 99, 99);
    transform: rotate(90deg);  
    margin-left: 20%;
}
.boutoninscription {
    width: 30%;
    margin-left: 30px;
    background-color: white;
    border: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.boutoninscription:hover {
    background-color: #75CFB8; 
    border-radius: 5%;
    color: white;
}
.boutons {
    display: flex;
    flex-direction: row;
    margin-top: 25%;
}
#comptetxt {
    position:absolute;
    top:72%;
    right: 45%;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    line-height: 20px;
}


.aside_inscription {
        height: 660px;
        width: 400px;
        background-image: url('Images/leafpattern.jpeg');
        background-position: center;
        background-size: cover;
        margin-top: 4%;
        box-shadow: 0.5rem 0.5rem #75CFB8, -0.5rem -0.5rem #99cfc2 inset;
        opacity: 0.80;
        
}
.stamp{
    height:100px;
    width:100px;
    left:200px;
    top:30px;
    border-radius:5px;
    position:relative;
    background-image:url(Images/stamp1.webp);
    background-size: 100%;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:1.5s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
  }
  
  @keyframes pulse{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:1;
      transform: rotate(-15deg) scale(1);
    }
  }

  .stamp1{
    height:100px;
    width:100px;
    left:100px;
    top:120px;
    border-radius:5px;
    position:relative;
    background-image:url(Images/stamp2.webp);
    background-size: 100%;
    -webkit-animation-name: pulse1;
    animation-name: pulse1;
    animation-delay:2.5s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
  }
  
  @keyframes pulse1{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:1;
      transform: rotate(15deg) scale(1);
    }
  }

  .stamp2{
    height:100px;
    width:100px;
    left:200px;
    top:240px;
    border-radius:5px;
    position:relative;
    background-image:url(Images/stamp3.png);
    background-size: 100%;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    animation-delay:2.5s;
    -webkit-animation-delay:2.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    opacity: 0;
    -webkit-animation-fill-mode:forwards;
     animation-fill-mode:forwards;
  }
  
  @keyframes pulse{
    0%{
      opacity: 0;
    }
    10%{
      opacity:.50;
      transform-origin: 50% 50%;
      transform: rotate(-2deg) scale(5);
      transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    }
    100%{
      opacity:1;
      transform: rotate(-15deg) scale(1);
    }
  }

#icon_inscription {
    display: flex;
    flex-direction: column;
}
#cercle1 {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-top: 20%;
    box-shadow: 20px 0 20px -20px #8a8a8b;
    background-image: url(Images/leafpatternturqu.png);
    background-size: 200%;
    opacity: 0.90;
}
#cercle2 {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-top: 20%;
    box-shadow: 20px 0 20px -20px #8a8a8b;
    background-image: url(Images/leafpatternorange.png);
    background-size: 200%;
    opacity: 0.90;
}
#cercle3 {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    margin-top: 20%;
    box-shadow: 20px 0 20px -20px #8a8a8b;
    background-image: url(Images/leafpatternblanc.png);
    background-size: 200%;
    opacity: 0.90;
}